body {
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}
#game-wrapper {
  position: relative;  /* Makes this div a point of reference for absolute-positioned child elements */
  #game-wrapper {
    position: relative;  /* Makes this div a point of reference for absolute-positioned child elements */
    width: 100%;  /* You can set this to whatever width you want */
    height: auto;  /* Adjust this as needed */
    overflow: hidden;  /* Keeps child elements from spilling out */
  }
}